# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environments / secrets
.env

# Build artifacts
build/
dist/

# Tool caches
.mypy_cache/
.ruff_cache/
.pytest_cache/

# IDE
.vscode/

# macOS
.DS_Store